* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0e0e0e;
    color: white;
}

.navbar {
    background: black;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid gold;
}

.logo {
    width: 90px;
    height: auto;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #1c1c1c, #000);
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: gold;
}

.hero button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background: gold;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.hero button:hover {
    background: #e2c000;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

.car-card {
    width: 300px;
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px gold;
    transition: 0.3s;
    text-align: center;
}

.car-card:hover {
    transform: scale(1.05);
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-card h3 {
    font-size: 22px;
    margin: 12px 0;
    color: gold;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    border-top: 2px solid gold;
    font-size: 14px;
}
